# env/bin/python -m pip install -U --force-reinstall pip

gunicorn==20.0.4
eventlet==0.30.0
Flask==1.1.2
Flask-Cors==3.0.9
Flask-Limiter==1.4
pymongo==3.11.2
requests==2.25.1
Pillow==8.0.1
PyJWT==1.7.1
vk==2.0.2